/*
1.5.0.1
- hotfix: display bug with dropdown items in edit mode
*/
#stacks_in_56_2 {
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#stacks_in_56_2 > * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*:focus {
  outline-style:none;
  box-shadow:none;
  border-color:transparent;
}

#stacks_in_56_2 .clean-menu-extra {
  display: none;
}
#clean-menu_stacks_in_56_2 .clean-menu-logo .cm-logo-right {
  white-space: nowrap;
}
#clean-menu_stacks_in_56_2 .clean-menu-logo .cm-logo-right * {
  margin: 0;
  display: flex;
  align-self: center;
}
#clean-menu-full_stacks_in_56_2.cm-full-menu li > a:hover,
#clean-menu_stacks_in_56_2 li > a:hover {
  text-decoration: none;
}

#stacks_in_56_2 nav {
  border: 0px solid transparent;
}
#clean-menu_stacks_in_56_2 {
  max-width: 1320px;
  box-sizing: border-box;
  padding: 0px 20px;
  
  margin: 0 auto;
  
}
/* compatability fixes */
#clean-menu_stacks_in_56_2 ul {
  margin: 0;
}
#clean-menu-full_stacks_in_56_2.cm-full-menu ul,
#clean-menu_stacks_in_56_2 .clean-menu-top-level > ul > li > ul {
  -webkit-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}
#clean-menu_stacks_in_56_2 ul li > a:after,
#clean-menu_stacks_in_56_2 .clean-menu-top-level > ul > li > ul li > a:after {
  align-self: center;
}
/* --- */
#clean-menu-full_stacks_in_56_2.cm-full-menu,
#clean-menu_stacks_in_56_2 .clean-menu-top-level > ul > li > ul {
  position: absolute;
  top: 0;
  left: 0;
}
#clean-menu-full_stacks_in_56_2.cm-full-menu ul,
#clean-menu_stacks_in_56_2 .clean-menu-top-level > ul > li > ul {
  text-decoration: none;
  list-style: none;
  margin: 0;
  display: block;
  padding: 0px 0px;
  background: transparent;
}
#clean-menu-full_stacks_in_56_2.cm-full-menu ul {
  padding: 6px 0px;
}
#clean-menu-full_stacks_in_56_2.cm-full-menu ul li,
#clean-menu_stacks_in_56_2 .clean-menu-top-level > ul > li > ul li {
  display: block;
  margin: 0;
  padding: 0;
  float: none;
  background: transparent;
}
#clean-menu-full_stacks_in_56_2.cm-full-menu ul li > a,
#clean-menu_stacks_in_56_2 .clean-menu-top-level > ul > li > ul li > a {
  padding: 5px 20px;
  margin: 0;
  line-height: 1;
  background: transparent;
  display: inline-block;
}
#clean-menu_stacks_in_56_2 .clean-menu-top-level > ul > li.clean-menu-dropdown > ul {
  padding: 6px 0px;
}
#clean-menu_stacks_in_56_2 .clean-menu-top-level > ul > li > ul li > a {
  padding: 6px 20px;
}
#clean-menu-full_stacks_in_56_2.cm-full-menu ul > li > a {
  font-weight: bold;
}
#clean-menu-full_stacks_in_56_2.cm-full-menu ul > li > .cm-custom-content {
  padding: 4px 20px 4px 20px;
}
#clean-menu-full_stacks_in_56_2.cm-full-menu ul ul > li > .cm-custom-content {
  padding: 4px 20px 4px 30px;
}
#clean-menu-full_stacks_in_56_2.cm-full-menu ul > li.cm-grouped-item > .cm-custom-content  {
  padding: 4px 20px 4px 0px;
}
#clean-menu-full_stacks_in_56_2.cm-full-menu ul ul > li > a,
#clean-menu_stacks_in_56_2 .clean-menu-top-level > ul > li > ul ul {
  padding: 6px 20px;
  font-weight: normal;
  line-height: 1;
  height: auto;
}
#clean-menu-full_stacks_in_56_2.cm-full-menu ul > div,
#clean-menu_stacks_in_56_2 .clean-menu-top-level > ul > li > ul > div {
  padding: 20px;
}
#clean-menu-full_stacks_in_56_2.cm-full-menu ul > div a,
#clean-menu_stacks_in_56_2 .clean-menu-top-level > ul > li > ul > div a {
  display: block;
  padding: 0;
}
#clean-menu-full_stacks_in_56_2.cm-full-menu ul ul,
#clean-menu_stacks_in_56_2 .clean-menu-top-level > ul > li > ul ul {
  display: block;
  padding: 0px 0px 10px 10px;
  margin: 0;
}
#clean-menu-full_stacks_in_56_2.cm-full-menu,
#clean-menu_stacks_in_56_2 .clean-menu-top-level > ul > li > ul {
  position: absolute;
  z-index: 9999;
  pointer-events: none;
  opacity: 0;
  -webkit-transition: -webkit-transform 300ms ease, opacity 300ms ease;
  transition: -webkit-transform 300ms ease, opacity 300ms ease;
  transition: transform 300ms ease, opacity 300ms ease;
  transition: transform 300ms ease, -webkit-transform 300ms ease, opacity 300ms ease;
  -webkit-transform: translate(0, 50px);
  transform: translate(0, 50px);
  min-width: 250px;
  border-radius: 4px;
  box-shadow: 0px 10px 20px rgba(0,0,0,0.4);
}
#clean-menu-full_stacks_in_56_2.cm-full-menu.clean-menu-active {
  -webkit-transform: translate(0px, 5px);
  transform: translate(0px, 5px);
  pointer-events: all;
  opacity: 1;
}
#clean-menu-full_stacks_in_56_2.cm-full-menu {
  height: 0;
  overflow: hidden;
}
#clean-menu-full_stacks_in_56_2.cm-full-menu.clean-menu-active {
  height: auto;
}


#clean-menu-full_stacks_in_56_2.cm-full-menu {
  -webkit-transform: translate(-100%, 50px);
  transform: translate(-100%, 50px);
}
#clean-menu-full_stacks_in_56_2.cm-full-menu.clean-menu-active {
  -webkit-transform: translate(-100%, 5px);
  transform: translate(-100%, 5px);
}


#clean-menu-full_stacks_in_56_2.cm-full-menu.clean-menu-active ul {
  pointer-events: all;
  opacity: 1;
}
#clean-menu-full_stacks_in_56_2 ul {
  opacity: 0;
  pointer-events: none;
  z-index: 0;
  -webkit-transition: opacity 450ms ease;
  transition: opacity 450ms ease;
}
#clean-menu-full_stacks_in_56_2.clean-menu-active ul {
  opacity: 1;
  pointer-events: all;
}
.cm-toggle {
  width: 30px;
  height: 28px;
  position: relative;
  margin: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}
.cm-toggle span {
  display: block;
  position: absolute;
  height: 5px;
  width: 100%;
  background: #333;
  border-radius: 4px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}
.cm-toggle span:nth-child(1) {
  top: 0px;
}
.cm-toggle span:nth-child(2),.cm-toggle span:nth-child(3) {
  top: 10px;
}
.cm-toggle span:nth-child(4) {
  top: 20px;
}
.cm-toggle.open span:nth-child(1) {
  opacity: 0;
}
.cm-toggle.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.cm-toggle.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.cm-toggle.open span:nth-child(4) {
  opacity: 0;
}



#clean-menu_stacks_in_56_2 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
#clean-menu_stacks_in_56_2 > div {
  align-self: center;
}
#clean-menu_stacks_in_56_2 .clean-menu-full .cm-menu-toggle {
  width: 30px;
  height: 25px;
  box-sizing: border-box;
  padding: 0;
/*  border: 1px solid #000;*/
  border-radius: 3px;
  cursor: pointer;
}
#clean-menu_stacks_in_56_2 > div {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin: 10px 0;
  flex-grow: 1;
  transition: margin 300ms ease;
}
#clean-menu_stacks_in_56_2 .clean-menu-logo {
  max-width: 250px;
  min-width: 250px;
  margin: 0;
}
#clean-menu_stacks_in_56_2 .clean-menu-logo .cm-logo-wrap {
  max-width: 250px;
  min-width: 250px;
  -webkit-box-flex: none;
  -ms-flex: none;
  flex: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  justify-content: center;
}
#clean-menu_stacks_in_56_2 .clean-menu-logo a {
  text-decoration: none;
  display: block;
}
/*
div[tag="slice"] > .mez > #stacks_in_56_2.com_onelittledesigner_stacks_Clean_Menu_stack > .clean-menu .clean-menu-logo {
  width: 300px; max-width: 300px;
}
*/
#clean-menu_stacks_in_56_2 .clean-menu-logo > div > div {
  align-self: center;
}
#clean-menu_stacks_in_56_2 .clean-menu-logo .cm-logo-left {
  max-width: 73px;
  
  
  max-width: 9999px;
  
  margin: 10px 0;
}
div[tag="slice"] > .mez > #stacks_in_56_2.com_onelittledesigner_stacks_Clean_Menu_stack > .clean-menu .clean-menu-logo .cm-logo-left  {
  max-width: 128px;
  
  max-width: 9999px;
  
}
#clean-menu_stacks_in_56_2 .clean-menu-logo .cm-logo-right {
  
  display: none;
  
  margin: 10px 0;
}
#clean-menu_stacks_in_56_2 .clean-menu-top-level ul {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: flex-end;
  
  
  display: -ms-flexbox;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  
  -ms-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  list-style: none;
  padding: 0;
  text-decoration: none;
}
#clean-menu_stacks_in_56_2 .clean-menu-top-level ul > div {
  display: none;
}
#clean-menu_stacks_in_56_2 .clean-menu-top-level ul ul {
  display: none;
}
#clean-menu_stacks_in_56_2 .clean-menu-top-level ul li {
  margin: 0 15px;
  align-self: center;
  line-height: 1;
}
#clean-menu_stacks_in_56_2 .clean-menu-top-level ul li:first-child {
  margin-left: 0;
}
#clean-menu_stacks_in_56_2 .clean-menu-top-level ul li:last-child {
  margin-right: 0;
}
#clean-menu_stacks_in_56_2 .clean-menu-top-level ul li:last-child.cm-group-True {
  margin: 0;
}

#clean-menu_stacks_in_56_2 > div:nth-child(2),
#clean-menu_stacks_in_56_2 > div:nth-child(3) {
  -webkit-box-flex: initial;
  -ms-flex: none;
  flex: none;
  width: auto;
}
#clean-menu_stacks_in_56_2 > div:nth-child(3) {
  /* margin-left: 10px; */
}
#clean-menu_stacks_in_56_2 > div:nth-child(1) {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  width: auto;
  max-width: 100%;
}
#clean-menu_stacks_in_56_2 > div.clean-menu-top-level:nth-child(2) ul li:last-child,
#clean-menu_stacks_in_56_2 > div.clean-menu-top-level:nth-child(3) ul li:first-child {
  margin: 0 15px;
}
#clean-menu_stacks_in_56_2 > div.clean-menu-top-level:nth-child(2) > ul > li > ul li:last-child,
#clean-menu_stacks_in_56_2 > div.clean-menu-top-level:nth-child(3) > ul > li > ul li:first-child {
  margin: 0;
}


div[tag="slice"] > .mez > #stacks_in_56_2.com_onelittledesigner_stacks_Clean_Menu_stack > .clean-menu .clean-menu-top-level ul li {
  margin: 0 0 0 15px;
}
#clean-menu_stacks_in_56_2 .clean-menu-top-level ul li > a,
#clean-menu_stacks_in_56_2 .clean-menu-top-level ul li > a:visited {
  transition: color 150ms ease;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.40);
  font-size: inherit;
  
  line-height: 25px;
  align-items: center;
  padding: 0;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  white-space: nowrap;
}
#clean-menu-full_stacks_in_56_2.cm-full-menu ul li > a {
  font-size: inherit;
}
#clean-menu_stacks_in_56_2 .clean-menu-top-level ul li > a,
#clean-menu-full_stacks_in_56_2.cm-full-menu ul li > a {
  font-family: inherit;
}
#clean-menu-full_stacks_in_56_2.cm-full-menu > ul > li > a {
  
}
#clean-menu_stacks_in_56_2 .clean-menu-top-level ul li > a svg,
#clean-menu-full_stacks_in_56_2.cm-full-menu ul li > a svg,
#clean-menu_stacks_in_56_2 .clean-menu-top-level > ul > li > ul li > a svg {
  fill: rgba(0, 0, 0, 0.40);
  align-self: center;
  vertical-align: middle;
}
#clean-menu-full_stacks_in_56_2.cm-full-menu ul li > a,
#clean-menu_stacks_in_56_2 .clean-menu-top-level > ul > li > ul li > a{
  transition: color 150ms ease;
}
#clean-menu_stacks_in_56_2 .clean-menu-top-level ul li.cm-grouped-item,
#clean-menu-full_stacks_in_56_2.cm-full-menu ul li.cm-grouped-item,
#clean-menu_stacks_in_56_2 .clean-menu-top-level > ul > li > ul li.cm-grouped-item {
  white-space: nowrap;
  display: flex;
  align-items: center;
}
#clean-menu-full_stacks_in_56_2.cm-full-menu ul li.cm-grouped-item,
#clean-menu_stacks_in_56_2 .clean-menu-top-level > ul > li > ul li.cm-grouped-item {
  padding: 5px 20px;
}
#clean-menu_stacks_in_56_2 .clean-menu-top-level ul li.cm-grouped-item > a,
#clean-menu-full_stacks_in_56_2.cm-full-menu ul li.cm-grouped-item > a {
  display: inline-block;
  margin-left: 8px;
}
#clean-menu_stacks_in_56_2 .clean-menu-top-level ul li.cm-grouped-item > a {
  padding: 0;
}
#clean-menu_stacks_in_56_2 .clean-menu-top-level ul li.cm-grouped-item > a:first-child,
#clean-menu-full_stacks_in_56_2.cm-full-menu ul li.cm-grouped-item > a:first-child {
  margin-left: 0px;
}
#clean-menu-full_stacks_in_56_2.cm-full-menu ul li.cm-grouped-item > a {
  padding: 4px 30px 4px 0;
}
#clean-menu_stacks_in_56_2 .clean-menu-top-level ul li > a ion-icon, #clean-menu_stacks_in_56_2 .clean-menu-top-level ul li > a i,
#clean-menu-full_stacks_in_56_2.cm-full-menu ul li > a ion-icon, #clean-menu-full_stacks_in_56_2.cm-full-menu ul li > a i {
  font-size: 25px;
  line-height: 25px;
  

}
#stacks_in_56_2 li > a svg,
#clean-menu_stacks_in_56_2 .clean-menu-top-level ul li > a svg,
#clean-menu-full_stacks_in_56_2.cm-full-menu ul li > a svg,
#clean-menu_stacks_in_56_2 .clean-menu-top-level > ul > li > ul li > a svg {
  
  width: 25px;
  height: 25px;
  
}

#clean-menu_stacks_in_56_2 .clean-menu-top-level ul li > a:hover {
  transition: color 150ms ease;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.20);
}
#clean-menu_stacks_in_56_2 .clean-menu-top-level ul li > a:hover svg,
#clean-menu-full_stacks_in_56_2.cm-full-menu ul li > a:hover svg {
  fill: rgba(0, 0, 0, 0.20);
}
#clean-menu_stacks_in_56_2 .clean-menu-top-level ul li > a.cm-heading {
  pointer-events: none;
}
#clean-menu_stacks_in_56_2 .clean-menu-top-level ul li.cm-current > a {
  transition: color 150ms ease;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.60);
}
#clean-menu_stacks_in_56_2 .clean-menu-top-level ul li.cm-current > a svg,
#clean-menu-full_stacks_in_56_2.cm-full-menu ul li.cm-current > a svg {
  fill: rgba(0, 0, 0, 0.60);
}
#clean-menu_stacks_in_56_2 .cm-toggle span {
  background: #000000;
}
#clean-menu_stacks_in_56_2 h1, #clean-menu_stacks_in_56_2 h2, #clean-menu_stacks_in_56_2 h3, #clean-menu_stacks_in_56_2 h4, #clean-menu_stacks_in_56_2 h5, #clean-menu_stacks_in_56_2 h6, #clean-menu_stacks_in_56_2 .layouts-text, #clean-menu_stacks_in_56_2 p {
  color: rgba(0, 0, 0, 0.60);
  font-size: inherit;
  margin: 0;
}
#clean-menu-full_stacks_in_56_2.cm-full-menu,
#clean-menu_stacks_in_56_2 .clean-menu-top-level > ul > li > ul {
  background: rgba(255, 255, 255, 1.00);
}
#clean-menu-full_stacks_in_56_2.cm-full-menu > ul > li,
#clean-menu_stacks_in_56_2 .clean-menu-top-level > ul > li > ul > li {
  border-bottom: 1px solid rgba(255,255,255,0.15)
}
#clean-menu-full_stacks_in_56_2.cm-full-menu > ul > li:last-child,
#clean-menu_stacks_in_56_2 .clean-menu-top-level > ul > li > ul > li:last-child {
  border-bottom: 0px solid transparent;
}
#clean-menu-full_stacks_in_56_2.cm-full-menu ul li > a,
#clean-menu-full_stacks_in_56_2.cm-full-menu ul li > a:visited,
#clean-menu-full_stacks_in_56_2.cm-full-menu ul li > a svg,
#clean-menu_stacks_in_56_2 .clean-menu-top-level > ul > li > ul li > a,
#clean-menu_stacks_in_56_2 .clean-menu-top-level > ul > li > ul li > a:visited,
#clean-menu_stacks_in_56_2 .clean-menu-top-level > ul > li > ul li > a svg,
#clean-menu-full_stacks_in_56_2.cm-full-menu ul ul li:before {
  color: rgba(0, 0, 0, 0.40);
  fill: rgba(0, 0, 0, 0.40);
}
#clean-menu-full_stacks_in_56_2.cm-full-menu ul li > a:hover,
#clean-menu_stacks_in_56_2 .clean-menu-top-level > ul > li > ul li > a:hover,
#clean-menu_stacks_in_56_2 .clean-menu-top-level > ul > li > ul li > a:hover svg {
  color: rgba(0, 0, 0, 0.20);
  fill:  rgba(0, 0, 0, 0.20);
}
/* #clean-menu-full_stacks_in_56_2.cm-full-menu ul li > a.cm-heading:hover,
#clean-menu-full_stacks_in_56_2.cm-full-menu ul li > a.cm-heading:hover svg,
#clean-menu_stacks_in_56_2 .clean-menu-top-level > ul > li > ul li > a.cm-heading:hover {
  color: rgba(0, 0, 0, 0.40);
  cursor: default;
} */
#clean-menu-full_stacks_in_56_2.cm-full-menu ul li.cm-current > a,
#clean-menu_stacks_in_56_2 .clean-menu-top-level > ul > li > ul li.cm-current > a,
#clean-menu_stacks_in_56_2 .clean-menu-top-level > ul > li > ul li.cm-current > a svg {
  color: rgba(0, 0, 0, 0.60);
  fill:  rgba(0, 0, 0, 0.60);
}
#clean-menu_stacks_in_56_2 .clean-menu-top-level > ul > li > a.parent:after {
  border-color: rgba(0, 0, 0, 0.40);
}
#clean-menu_stacks_in_56_2 .clean-menu-top-level > ul > li > a.parent:hover:after {
  border-color: rgba(0, 0, 0, 0.20);
}
/* #clean-menu_stacks_in_56_2 .clean-menu-top-level > ul > li > a.cm-heading.parent:hover:after {
  border-color: rgba(0, 0, 0, 0.40);
} */
#clean-menu_stacks_in_56_2 .clean-menu-top-level > ul > li > a.parent.cm-current:after {
  border-color: rgba(0, 0, 0, 0.60);
}
.disable-parents #clean-menu_stacks_in_56_2 .clean-menu-top-level > ul > li > ul li > a.parent:hover:after,
.disable-parents #clean-menu_stacks_in_56_2 .clean-menu-top-level > ul > li > ul li > a.parent:hover,
#clean-menu-full_stacks_in_56_2.cm-full-menu.disable-parents  ul li > a.parent:hover {
  color: rgba(0, 0, 0, 0.40);
  border-color: rgba(0, 0, 0, 0.40);
}
.disable-parents #clean-menu_stacks_in_56_2 .clean-menu-top-level ul li > a.parent:hover,
.disable-parents #clean-menu_stacks_in_56_2 .clean-menu-top-level ul li > a.parent:hover:after {
  color: rgba(0, 0, 0, 0.40);
  border-color: rgba(0, 0, 0, 0.40);
}

#clean-menu_stacks_in_56_2 .clean-menu-logo {
  margin: 0;
  width: 250px;
  max-width: 250px;
}
#clean-menu_stacks_in_56_2 .clean-menu-logo .cm-logo-wrap {
  -webkit-box-pack: left;
  -ms-flex-pack: left;
  justify-content: left;
  max-width: 250px;
  width: 100%;
  margin-right: 5px;
}
#clean-menu_stacks_in_56_2 .clean-menu-full {
  width: 250px;
  -webkit-box-flex: none;
  -ms-flex: none;
  flex: none;
}
/*
div[tag="slice"] > .mez > #stacks_in_56_2.com_onelittledesigner_stacks_Clean_Menu_stack > .clean-menu .clean-menu-full {
width: auto; max-width: 300px;
}
*/
#clean-menu_stacks_in_56_2 .clean-menu-full .cm-menu-toggle {
  display: inline-block;
  float: right;
}
#clean-menu_stacks_in_56_2 .clean-menu-top-level ul {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
div[tag="slice"] > .mez > #stacks_in_56_2.com_onelittledesigner_stacks_Clean_Menu_stack > .clean-menu .clean-menu-top-level ul li {
  margin: 0 7px;
}








#clean-menu-full_stacks_in_56_2.cm-full-menu > ul > li {
  border-bottom: 1px solid rgba(0,0,0,0.15)
}
#clean-menu-full_stacks_in_56_2.cm-full-menu > ul > li:last-child {
  border-bottom: 0px solid transparent;
}
#clean-menu-full_stacks_in_56_2.cm-full-menu {

}
#clean-menu_stacks_in_56_2 .clean-menu-top-level ul li > a,
#clean-menu_stacks_in_56_2 .clean-menu-top-level ul li > a:visited {
  color: rgba(0,0,0,.6);
}
#clean-menu_stacks_in_56_2 .clean-menu-top-level ul li > a svg {
  fill: rgba(0,0,0,.6);
}
#clean-menu_stacks_in_56_2 .clean-menu-top-level ul li > a:hover {
  color: rgba(0,0,0,.4);
}
#clean-menu_stacks_in_56_2 .clean-menu-top-level ul li > a:hover svg {
  fill: rgba(0,0,0,.4);
}
/* #clean-menu_stacks_in_56_2 .clean-menu-top-level ul li > a.cm-heading:hover {
  color: rgba(0,0,0,.6);
  cursor: default;
} */
#clean-menu_stacks_in_56_2 .clean-menu-top-level ul li.cm-current > a {
  color: rgba(0,0,0,.8);
}
#clean-menu_stacks_in_56_2 .clean-menu-top-level ul li.cm-current > a svg {
  fill: rgba(0,0,0,.8);
}
#clean-menu_stacks_in_56_2 .clean-menu-top-level > ul > li > a.parent:after {
  border-color: rgba(0,0,0,.6);
}
#clean-menu_stacks_in_56_2 .clean-menu-top-level > ul > li > a.parent:hover:after {
  border-color: rgba(0,0,0,.4);
}
/* #clean-menu_stacks_in_56_2 .clean-menu-top-level > ul > li > a.cm-heading.parent:hover:after {
  border-color: rgba(0,0,0,.6);
} */
#clean-menu_stacks_in_56_2 .clean-menu-top-level > ul > li > a.parent.cm-current:after {
  border-color: rgba(0,0,0,.8);
}
#clean-menu_stacks_in_56_2 .cm-toggle span {
  background: rgba(0,0,0,8);
}
#clean-menu_stacks_in_56_2 h1, #clean-menu_stacks_in_56_2 h2, #clean-menu_stacks_in_56_2 h3, #clean-menu_stacks_in_56_2 h4, #clean-menu_stacks_in_56_2 h5, #clean-menu_stacks_in_56_2 h6, #clean-menu_stacks_in_56_2 .layouts-text, #clean-menu_stacks_in_56_2 p {
  color: rgba(0,0,0,8);
}
.disable-parents #clean-menu_stacks_in_56_2 .clean-menu-top-level > ul > li > a.parent:hover,
.disable-parents #clean-menu_stacks_in_56_2 .clean-menu-top-level > ul > li > a.parent:hover:after {
  color: rgba(0,0,0,.6);
  border-color: rgba(0,0,0,.6);
}



.cm-sticky-wrap_stacks_in_56_2 {
  transition: background 300ms ease;
  background: transparent;
}
.cm-sticky-wrap_stacks_in_56_2.cm-sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  background: rgba(255, 255, 255, 0.66);
}
.cm-sticky-wrap_stacks_in_56_2.cm-sticky > #clean-menu-full_stacks_in_56_2.cm-full-menu {
  z-index: 9999;
}
.cm-sticky-wrap_stacks_in_56_2.cm-sticky #clean-menu_stacks_in_56_2.clean-menu {
  max-width: 1320px;
  box-sizing: border-box;
  padding: 0px 20px;
  
  margin: 0 auto;
  
}



@media all and (min-width: 771px) {
  body:not(.cm-mobile-example) #clean-menu-full_stacks_in_56_2.cm-full-menu ul li {
    border-width: 0;
  }
  body:not(.cm-mobile-example) #clean-menu-full_stacks_in_56_2 {
    padding: 10px 0px;
  }
  body:not(.cm-mobile-example) #clean-menu-full_stacks_in_56_2.cm-full-menu ul li.cm-hide-dropdown-menu,
  body:not(.cm-mobile-example) #clean-menu_stacks_in_56_2 ul li.cm-hide-menu {
    display: none;
  }
  
  #clean-menu_stacks_in_56_2 .clean-menu-top-level > ul > li > ul.cm-wide {
    display: grid;
  }
  #clean-menu_stacks_in_56_2 .clean-menu-top-level > ul > li > ul.cm-wide > li {
    text-align: left;
    align-self: flex-start;
  }
}

@media all and (max-width: 770px) {
  
  #clean-menu_stacks_in_56_2.clean-menu {
    gap: 0 16px;
  }
  #clean-menu-full_stacks_in_56_2 {
    min-width: 300px;
  }
  #clean-menu_stacks_in_56_2 .clean-menu-full {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin: 10px 0;
  }
  #clean-menu_stacks_in_56_2 > div:last-child {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  #clean-menu_stacks_in_56_2 .clean-menu-full .cm-menu-toggle {
    display: block;
  }
  #clean-menu_stacks_in_56_2 .clean-menu-top-level {
    display: none;
  }
  
  
  #clean-menu-full_stacks_in_56_2.cm-full-menu ul li {
    display: block;
  }
  #clean-menu-full_stacks_in_56_2.cm-full-menu ul {
    padding: 12px 0px;
  }
  #clean-menu-full_stacks_in_56_2.cm-full-menu ul > li > .cm-custom-content {
    padding: 4px 24px 4px 24px;
  }
  #clean-menu-full_stacks_in_56_2.cm-full-menu ul ul > li > .cm-custom-content {
    padding: 4px 24px 4px 34px;
  }
  #clean-menu-full_stacks_in_56_2.cm-full-menu ul > li.cm-grouped-item > .cm-custom-content  {
    padding: 4px 24px 4px 0px;
  }
  #clean-menu-full_stacks_in_56_2.cm-full-menu ul li.cm-grouped-item{
    padding: 4px 24px;
  }
  #clean-menu-full_stacks_in_56_2.cm-full-menu ul li > a {
    font-size: calc(inherit + 2 );
    line-height: calc(inherit + 2 );
    padding: 12px 24px;
    width: 100%;
    box-sizing: border-box;
  }
  #clean-menu-full_stacks_in_56_2.cm-full-menu ul ul > li > a {
    padding: 12px 24px;
    width: 100%;
    box-sizing: border-box;
  }
  #clean-menu-full_stacks_in_56_2.cm-full-menu ul li.cm-grouped-item > a {
    width: auto;
  }
  #clean-menu-full_stacks_in_56_2.cm-full-menu {
    -webkit-transform: translate(0, 50px);
    transform: translate(0, 50px);
  }
  #clean-menu-full_stacks_in_56_2.cm-full-menu.clean-menu-active {
    -webkit-transform: translate(0px, 5px);
    transform: translate(0px, 5px);
  }
  #clean-menu-full_stacks_in_56_2.cm-full-menu ul li.cm-grouped-item > a {
    padding: 8px 30px 8px 0;
  }
}






.cm-mobile-example #clean-menu-full_stacks_in_56_2 {
  min-width: 300px;
}
.cm-mobile-example #clean-menu_stacks_in_56_2 .clean-menu-full {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.cm-mobile-example #clean-menu_stacks_in_56_2 > div:last-child {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.cm-mobile-example #clean-menu_stacks_in_56_2 .clean-menu-full .cm-menu-toggle {
  display: block;
}
.cm-mobile-example #clean-menu_stacks_in_56_2 .clean-menu-top-level {
  display: none;
}
.cm-mobile-example #clean-menu-full_stacks_in_56_2.cm-full-menu ul li {
  display: block;
}
.cm-mobile-example #clean-menu-full_stacks_in_56_2.cm-full-menu ul li > a {
  padding: 10px 20px;
  width: 100%;
  box-sizing: border-box;
}
.cm-mobile-example #clean-menu-full_stacks_in_56_2.cm-full-menu ul ul > li > a {
  padding: 10px 20px;
  width: 100%;
  box-sizing: border-box;
}
.cm-mobile-example #clean-menu-full_stacks_in_56_2.cm-full-menu ul li.cm-grouped-item > a {
  width: auto;
}
.cm-mobile-example #clean-menu-full_stacks_in_56_2.cm-full-menu {
  -webkit-transform: translate(0, 50px);
  transform: translate(0, 50px);
}
.cm-mobile-example #clean-menu-full_stacks_in_56_2.cm-full-menu.clean-menu-active {
  -webkit-transform: translate(0px, 5px);
  transform: translate(0px, 5px);
}
.cm-mobile-example #clean-menu-full_stacks_in_56_2.cm-full-menu ul li.cm-grouped-item > a {
  padding: 8px 30px 8px 0;
}









#clean-menu_stacks_in_56_2 .clean-menu-top-level ul li.cm-current > a {
  
}

#stacks_in_56_2 {
	border: solid rgba(77, 77, 77, 1.00);
	border-width:  3px;
	-moz-border-radius:  5px;
	-webkit-border-radius:  5px;
	border-radius:  5px;
}

#stacks_out_56_2 {
	width: 1280px;
}


#stacks_out_41 {
	width: 1280px;
}

#stacks_out_29_2 {
	width: 1280px;
}

#stacks_out_23 {
	width: 1280px;
}
/* Start Responsive Shim stack CSS code */.stacks_in_55shim{	padding-top: 3%;}/* End Responsive Shim stack CSS code */




#stacks_in_54_2-footer-info {
	font-weight: 400;
	
	color: var(--bs-gray-600);
	
	
}

#stacks_in_54_2-footer-info a,
#stacks_in_54_2-footer-info a:visited {
	
}

#stacks_in_54_2-footer-info a:hover,
#stacks_in_54_2-footer-info a:active {
	
}

